<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Scent_Splitorder>
            <version>1.0.0</version>
        </Scent_Splitorder>
    </modules>
    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_history>Scent_Splitorder_Block_Sales_Order_History</order_history>
                    <order_recent>Scent_Splitorder_Block_Sales_Order_Recent</order_recent>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Scent_Splitorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <splitorder>
                <class>Scent_Splitorder_Model</class>
                <resourceModel>splitorder_mysql4</resourceModel>
            </splitorder>
            <checkout>
                <rewrite>
                    <type_onepage>Scent_Splitorder_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>              
            <splitorder_setup>
                <setup>
                    <module>Scent_Splitorder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </splitorder_setup>
            <splitorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </splitorder_write>
            <splitorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </splitorder_read>
        </resources>
    </global>
</config>